* {
    font-family: $baseFont;
    margin: 0;
    padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
    font-size: 125%;
    background-color: $primary;
    color: $tertiary;
}

.orange {
    color: $quaternary;
}

.yellow {
    color: $secondary;
}

.wrapper {
  max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: $mainFont;
    color: $tertiary;
    .firstH {
        font-family: $mainFont;
        color: $secondary;
        text-shadow: 1px 1px 0 $primary, 1px -1px 0 $primary, -1px 1px 0 $primary, -1px -1px 0 $primary, 1px 0px 0 $primary, 0px 1px 0 $primary, -1px 0px 0 $primary, 0px -1px 0 $primary;
    }
    .secondH {
        font-family: $mainFont;
        color: $quaternary;
        text-shadow: 1px 1px 0 $primary, 1px -1px 0 $primary, -1px 1px 0 $primary, -1px -1px 0 $primary, 1px 0px 0 $primary, 0px 1px 0 $primary, -1px 0px 0 $primary, 0px -1px 0 $primary;
    }
}

li {
    list-style: none;
}

p {
    &.punchline {
        font-weight: bold;
    }
}

em {
    font-style: normal;
    font-weight: bold;
    &.yellow {
        color: $secondary;
    }
    &.orange {
        color: $quaternary;
    }
}

input {
    background-color: $quinary;
    color: $tertiary;
    font-family: $baseFont;
    border: none;
    padding: 5px;
}

button {
    padding: 10px;
    font-family: $baseFont;
    font-weight: bold;
    font-size: $baseFontSize;
    background-color: $quinary;
    color: $quaternary;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    &:active {
        background-color: $primary;
        box-shadow:   0px 0px 0px 2px $quaternary;
    }
    &.podcastButton {
        background-color: transparent;
    }
}

svg {
    color: $quaternary;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: $quaternary;
}

