// styling for mapForm section

datalist {
    cursor: pointer;
    outline: none;
    background: rgb(122, 122, 122);
    appearance: none;
    border-radius: 15px;
    margin: 5px 0;
    padding: 10px 10px;
    color: $secondary;
    text-align: center;
    option {
        text-align: center;
        font-size: 0.8rem;
    }
}

.mapDetails {
  width: 100%;
    .wrapper {
        h2 {
            padding-bottom: 20px;
        }
        .destinationForm {
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .startingLocation {
                width: 100%;
                .inputStart{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 5px 0 25px 0;
                    background-color: $quinary;
                    input {
                        width: 100%;
                        font-size: $baseFontSize;
                        padding: 10px;
                    }
                    button {
                        max-height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        margin-left: 5px;
                        position: absolute;
                        height: 100%;
                        right: 0;
                        cursor: pointer;
                        svg {
                            max-height: 30px;
                            max-width: 30px;
                        }
                    }
                }
            }
            .finalLocation {
                width: 100%;
                  .inputFinal {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                   
                  }

                
                input {
                    width: 100%;
                    font-size: $baseFontSize;
                    padding: 10px;
                    margin: 5px 0 15px 0;
                }


            }
        }
    }
}

// styling for the CommuteType Component
.commuteType {
    width: 100%;
    .commuteIconsForm {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .travelIconsLabel {
            width: calc((100vw / 3) - 6vw);
            min-height: 90px;
            height: calc((100vw / 3) - 6vw);
            max-height: 200px;
            max-width: 300px;
            background-color: $quinary;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            

            .individualIcons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    padding: 3px 0;
                }

            }
        }

        input[type="radio"]:checked + label{
            background-color: $primary;
            box-shadow:   0px 0px 0px 2px $quaternary;
        }
    }
}

// styling for MapDisplay
.mapButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    .mapImg{
        margin-top: 15px;
        img{
            width: 100%;
        }
    }
}

// Styling for PodcastGenreForm
.podcastForm {
  width: 100%;
    h2 {
        padding-bottom: 20px;
    }
    .podcastGenreForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        
        input {
            padding: 10px;
            width: 100%;
            margin-bottom: 15px;
        }
    }
    ul {
        margin-bottom: 100px;
        .individualPodcast {
            position: relative;
            a {
                text-decoration: none;
                color: $tertiary;
            }
            li {
                width: 100%;
                display: flex;
                // margin: 30px 0;
                padding: 40px 0;
                border-bottom: 1px solid $tertiary;
                border-top: 1px solid $tertiary;

                .imgContainer {
                    width: 30%;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .textContainer {
                    width: calc(70% - 20px);
                    // white-space: nowrap;
                    margin-left: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // max-height: 150px;
                    h3 {
                        color: $tertiary;
                        padding-bottom: 10px;
                        
                    }
                }
            }
        }
        .podcastButton {
            position: absolute;
            right: 0px;
            bottom: 10px;
            z-index: 10;
        }
    }
}

// styling for podcastDetails

.podcastCard {
    position: relative;
    width: 100%;

    .navBar {
        position: fixed;
        width: 100%;
        background-color: $primary;
        opacity: 0.9;
        
        a {
            button {
                margin: 5px 10px;
                background-color: transparent;
                padding: 0;
                height: 40px;
                width: 40px;
            }
        }
    }
    .wrapper {
        .podcastContent {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .podcastCardImage {
                margin: 10px 0;
                width: 75%;
                max-width: 250px;
                img {
                    width: 100%;
                }
            }
            .podcastCardText {
                width: 100%;
                .details {
                    padding-bottom: 15px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid $tertiary;
    
                    h2 {
                        margin: 10px 0;
                        color: $secondary;
                        text-align: center;
                    }
                    h3 {
                        margin: 20px 0 15px 0;
                    }
                }
                .podcastBody {
                    width: 100%;
                    p {
                        line-height: 1.25rem;
                        overflow: hidden;
                    }
                    margin-bottom: 100px;
                }
            }
    
    
        }
    }
}
