@import url('https://fonts.googleapis.com/css2?family=Judson&family=Lato:wght@300&display=swap');

// font-family: 'Judson', serif;

// site font
$mainFont: 'Judson', serif;
$baseFont: 'Lato', sans-serif;


// font size
$headingFontSize: 1rem;
$baseFontSize: 0.9rem;

// site fonts
$primary: #1a2635;
$secondary: #E8EB5E;
$tertiary: #EDF2EF;
$quaternary: #F97068;
$quinary: #273b50;
