/* _setup.scss */
@import url("https://fonts.googleapis.com/css2?family=Judson&family=Lato:wght@300&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  font-size: 125%;
  background-color: #1a2635;
  color: #EDF2EF;
}

.orange {
  color: #F97068;
}

.yellow {
  color: #E8EB5E;
}

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.wrapperUl {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "Judson", serif;
  color: #EDF2EF;
}
h1 .firstH {
  font-family: "Judson", serif;
  color: #E8EB5E;
  text-shadow: 1px 1px 0 #1a2635, 1px -1px 0 #1a2635, -1px 1px 0 #1a2635, -1px -1px 0 #1a2635, 1px 0px 0 #1a2635, 0px 1px 0 #1a2635, -1px 0px 0 #1a2635, 0px -1px 0 #1a2635;
}
h1 .secondH {
  font-family: "Judson", serif;
  color: #F97068;
  text-shadow: 1px 1px 0 #1a2635, 1px -1px 0 #1a2635, -1px 1px 0 #1a2635, -1px -1px 0 #1a2635, 1px 0px 0 #1a2635, 0px 1px 0 #1a2635, -1px 0px 0 #1a2635, 0px -1px 0 #1a2635;
}

li {
  list-style: none;
}

p.punchline {
  font-weight: bold;
}

em {
  font-style: normal;
  font-weight: bold;
}
em.yellow {
  color: #E8EB5E;
}
em.orange {
  color: #F97068;
}

input {
  background-color: #273b50;
  color: #EDF2EF;
  font-family: "Lato", sans-serif;
  border: none;
  padding: 5px;
}

button {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #273b50;
  color: #F97068;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
button:active {
  background-color: #1a2635;
  -webkit-box-shadow: 0px 0px 0px 2px #F97068;
          box-shadow: 0px 0px 0px 2px #F97068;
}
button.podcastButton {
  background-color: transparent;
}
button:disabled {
  color: #949494;
  opacity: 0.5;
}

input:disabled + label {
  opacity: 0.5;
}
input:disabled + label svg {
  color: #949494;
}

input[type=radio]:checked + label {
  opacity: 1;
}
input[type=radio]:checked + label svg {
  color: #F97068;
}

svg {
  color: #F97068;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #F97068;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.9rem;
}

p {
  font-size: 0.9rem;
}
p.punchline {
  font-size: 1rem;
}

label {
  font-size: 0.9rem;
}

header {
  margin-bottom: 40px;
}
header .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper .titleBlock {
  padding: 70px 0px 40px 0px;
}
header .wrapper .titleBlock .firstBlock {
  position: relative;
}
header .wrapper .titleBlock .firstBlock:before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #F97068;
  z-index: -1;
  top: -5px;
  left: -15px;
  position: absolute;
}
header .wrapper .titleBlock .secondBlock {
  position: relative;
}
header .wrapper .titleBlock .secondBlock:after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #E8EB5E;
  z-index: -1;
  bottom: -10px;
  right: -13px;
  position: absolute;
}
header .wrapper .disclaimer {
  margin-top: 20px;
  font-style: italic;
  font-size: 0.85rem;
}
header .aboutSection {
  padding-bottom: 40px;
  border-bottom: 1px solid #EDF2EF;
}
header .aboutSection .punchline {
  margin: 40px 0 20px 0;
}

.loading h2 {
  color: #ccc;
  margin: 0;
  font: 0.8em verdana;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.loading {
  text-align: center;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: #EDF2EF;
  border-radius: 0.6em;
  -webkit-animation: loading 1s infinite alternate;
          animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #dcdd99;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #E8EB5E;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #ebc55e;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #ddaf2f;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #f99168;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: #F97068;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
datalist {
  cursor: pointer;
  outline: none;
  background: #7a7a7a;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 15px;
  margin: 5px 0;
  padding: 10px 10px;
  color: #E8EB5E;
  text-align: center;
}
datalist option {
  text-align: center;
  font-size: 0.8rem;
}

.mapDetails {
  width: 100%;
}
.mapDetails .wrapper .loading {
  margin-bottom: 20px;
}
.mapDetails .wrapper h2 {
  padding-bottom: 20px;
}
.mapDetails .wrapper .destinationForm {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mapDetails .wrapper .destinationForm .startingLocation {
  width: 100%;
}
.mapDetails .wrapper .destinationForm .startingLocation .inputStart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 25px 0;
  background-color: #273b50;
}
.mapDetails .wrapper .destinationForm .startingLocation .inputStart input {
  width: 100%;
  font-size: 0.9rem;
  padding: 10px;
}
.mapDetails .wrapper .destinationForm .startingLocation .inputStart button {
  max-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin-left: 5px;
  position: absolute;
  height: 100%;
  right: 0;
  cursor: pointer;
}
.mapDetails .wrapper .destinationForm .startingLocation .inputStart button svg {
  max-height: 30px;
  max-width: 30px;
}
.mapDetails .wrapper .destinationForm .finalLocation {
  width: 100%;
}
.mapDetails .wrapper .destinationForm .finalLocation .inputFinal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mapDetails .wrapper .destinationForm .finalLocation input {
  width: 100%;
  font-size: 0.9rem;
  padding: 10px;
  margin: 5px 0 15px 0;
}

.commuteType {
  width: 100%;
}
.commuteType .commuteIconsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.commuteType .commuteIconsForm .travelIconsLabel {
  width: 27.3333333333vw;
  min-height: 90px;
  height: 27.3333333333vw;
  max-height: 200px;
  max-width: 300px;
  background-color: #273b50;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: center;
}
.commuteType .commuteIconsForm .travelIconsLabel .individualIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.commuteType .commuteIconsForm .travelIconsLabel .individualIcons p {
  padding: 3px 0;
}
.commuteType .commuteIconsForm input[type=radio]:checked + label {
  background-color: #1a2635;
  -webkit-box-shadow: 0px 0px 0px 2px #F97068;
          box-shadow: 0px 0px 0px 2px #F97068;
}

.mapButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.mapButton .mapImg {
  margin-top: 15px;
}
.mapButton .mapImg img {
  width: 100%;
}

.podcastForm {
  width: 100%;
}
.podcastForm .loading {
  margin-bottom: 20px;
}
.podcastForm h2 {
  padding-bottom: 20px;
}
.podcastForm .podcastGenreForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.podcastForm .podcastGenreForm input {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.podcastForm ul {
  margin-bottom: 100px;
}
.podcastForm ul .individualPodcast {
  position: relative;
}
.podcastForm ul .individualPodcast a {
  text-decoration: none;
  color: #EDF2EF;
}
.podcastForm ul .individualPodcast li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  padding: 40px 15px;
  margin: 20px 0;
  background-color: #273b50;
  border-radius: 2px;
}
.podcastForm ul .individualPodcast li .imgContainer {
  width: 30%;
}
.podcastForm ul .individualPodcast li .imgContainer img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.podcastForm ul .individualPodcast li .textContainer {
  width: calc(70% - 20px);
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.podcastForm ul .individualPodcast li .textContainer .podcastTitle {
  color: #E8EB5E;
  padding-bottom: 10px;
}
.podcastForm ul .individualPodcast li .textContainer .podcastTitleOriginal {
  color: #EDF2EF;
  padding-bottom: 10px;
}
.podcastForm ul .podcastButton {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}
.podcastForm ul .podcastLikeButton {
  position: absolute;
  right: 60px;
  bottom: 0px;
  z-index: 10;
  background-color: transparent;
}

.podcastCard {
  position: relative;
  width: 100%;
}
.podcastCard .navBar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  opacity: 0.9;
  z-index: 10000;
}
.podcastCard .navBar a button {
  margin: 5px 10px;
  background-color: transparent;
  padding: 0;
  height: 40px;
  width: 40px;
  position: fixed;
}
.podcastCard .wrapper .podcastContent {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.podcastCard .wrapper .podcastContent .podcastCardImage {
  margin: 10px 0;
  width: 75%;
  max-width: 250px;
}
.podcastCard .wrapper .podcastContent .podcastCardImage img {
  width: 100%;
}
.podcastCard .wrapper .podcastContent .podcastCardText {
  width: 100%;
}
.podcastCard .wrapper .podcastContent .podcastCardText .details {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EDF2EF;
}
.podcastCard .wrapper .podcastContent .podcastCardText .details h2 {
  margin: 10px 0;
  color: #E8EB5E;
  text-align: center;
}
.podcastCard .wrapper .podcastContent .podcastCardText .details h3 {
  margin: 20px 0 15px 0;
}
.podcastCard .wrapper .podcastContent .podcastCardText .podcastBody {
  width: 100%;
  margin-bottom: 100px;
}
.podcastCard .wrapper .podcastContent .podcastCardText .podcastBody p {
  line-height: 1.25rem;
  overflow: hidden;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: #1a2635;
  opacity: 0.95;
  width: 100vw;
  height: 50px;
}
nav .wrapper {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .wrapper .likes {
  z-index: 1100;
  position: fixed;
  top: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}
nav .wrapper .likes svg {
  height: 100%;
  width: 100%;
}
nav .wrapper ul {
  position: fixed;
  z-index: 100;
  background-color: #2a2e42;
  opacity: 0;
  overflow: auto;
  height: 100%;
  top: 0;
  left: 110vw;
  padding-top: 80px;
  width: 100%;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  visibility: hidden;
}
nav .wrapper ul.showNav {
  opacity: 1;
  top: 0;
  left: 0;
  visibility: visible;
}
nav .wrapper ul .likedPodcastsContainer {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #EDF2EF;
}
nav .wrapper ul .likedPodcastsContainer .imageContainer {
  width: 30%;
}
nav .wrapper ul .likedPodcastsContainer .imageContainer img {
  width: 100%;
}
nav .wrapper ul .likedPodcastsContainer .textContainer {
  width: calc(70% - 20px);
  padding-left: 20px;
}
nav .wrapper ul .likedPodcastsContainer .textContainer .podcastTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 5px;
}
nav .wrapper ul .likedPodcastsContainer .textContainer .podcastArtist {
  color: #E8EB5E;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 10px;
}
nav .wrapper ul .likedPodcastsContainer .textContainer .likesButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .wrapper ul .likedPodcastsContainer .textContainer .likesButtons button {
  margin: 10px 20px 0 20px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper ul .likedPodcastsContainer .textContainer .likesButtons button svg {
  height: 100%;
  width: 100%;
}

.rhap_forward-button,
.rhap_rewind-button,
.rhap_repeat-button {
  display: none;
}

#root {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audioPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 100%;
  z-index: 100;
  opacity: 90%;
}
.audioPlayer .rhap_container {
  background-color: #161e27;
}
.audioPlayer .rhap_container .rhap_time {
  color: #EDF2EF;
}
.audioPlayer .rhap_container .rhap_progress-filled {
  background-color: #E8EB5E;
}
.audioPlayer .rhap_container .rhap_progress-indicator {
  background-color: #F97068;
}
.audioPlayer .rhap_container .rhap_volume-container {
  height: 32px;
}
.audioPlayer .rhap_container .rhap_volume-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.audioPlayer .rhap_container .rhap_volume-container button svg {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.audioPlayer .rhap_container .rhap_volume-indicator {
  background-color: #F97068;
}
.audioPlayer .rhap_container .rhap_controls-section .rhap_additional-controls {
  display: none;
}

.audioThumbnail {
  width: 116px;
}
.audioThumbnail img {
  height: 100%;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer a {
  padding-left: 7px;
}